@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/CassandraPersonalUseRegular-3BjG') format('ttf'),
       url('./fonts/CassandraPersonalUseRegular-3BjG') format('ttf');
  font-weight: normal;
  font-style: normal;
}