@font-face {
    font-family: 'Cassandra';
    src: url('./assets/fonts/CassandraPersonalUseRegular-3BjG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  